@import 'antd/dist/antd.css';
@import 'react-toastify/dist/ReactToastify.css';

@import "primereact/resources/themes/lara-light-indigo/theme.css";  
@import "primereact/resources/primereact.min.css";                 
@import "primeicons/primeicons.css";   
:root {
  --primary-color: #26a3c9
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.success-button{
  background-color: #32a832;
  color: #ffff;
  font-weight: bold;
}
.warn-button{
  background-color: #eb8f34;
  color: #ffff;
  font-weight: bold;
}
.danger-button{
  background-color: #f25c5c;
  color: #fff;
  font-weight: bold;
}
.infor-button{
  background-color: #61bfed;
  color: #fff;
  font-weight: bold;
}
.infor-temp-1-button{
  background-color: #3464a3;
  color: #fff;
  font-weight: bold;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}